<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwq.springcloud.dao.PaymentDao">

    <!-- useGeneratedKeys="true"的作用:插入数据:返回记录的id值,大于0表示成功，否则失败 -->
    <insert id="create" useGeneratedKeys="true" parameterType="Payment" keyProperty="id">
        insert into payment(serial) values(#{serial});
    </insert>

    <resultMap id="BaseResultMap" type="com.jwq.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select *from payment where id = #{id};
    </select>

</mapper>